<div class="direction">
    <div class="container">
        <div class="h1 color_main1 tac underline underline-bgcolor-main2 col-12 underline-big font-light">Почему выгодно  закупать и продавать
            агропродукцию на Prod.center</div>
        <div class="row my-5">
            <div class="col-md-11 position-relative offset-md-1 mb-5 direction__item">
                <div class="row">
                    <div class="col-md-2 tac color_bg-main2-pale radius__circle-top-left radius__circle-bottom-left  py-2 position-relative direction__item-img">
                        <!--TODO: подгонять придется-->
                        <img src="/img/photo/photo_1.jpg" class="rounded-circle img-responsive mt-md-5 mt-xl-0" alt="">
                    </div>
                    <div class="col-md-10  color_bg-main2-pale  pt-5 pt-md-3 pb-1 radius__num100-bottom-right radius__num100-top-right pr-5 direction__item-text">
                        <div class=" ttu mb-2 pl-2 direction__item-text-head">Владельцам бизнеса и службам безопасности:</div>
                        <ul class="font-light direction__list pl-5 line-height_quorter">
                            <li>Полностью прозрачный процесс закупок / продаж, коррупционные риски
                                сведены к минимуму</li>
                            <li>Снижение общих налоговых рисков при закупках / продажах через открытые торги</li>
                            <li>Выход на экспортные каналы сбыта продукции</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-11 position-relative mb-5 direction__item">
                <div class="row">
                    <div class="col-md-1 color_bg-main1-pale  radius__num100-bottom-left  radius__num100-top-left">

                    </div>
                    <div class="col-md-2 tac color_bg-main1-pale  py-2 position-relative direction__item-img">
                        <img src="/img/photo/photo_2.jpg" class="rounded-circle img-responsive testimonials__item-img mt-md-5 mt-xl-0" alt="">
                    </div>
                    <div class="col-md-8  color_bg-main1-pale  pt-5 pt-md-3 pb-1 radius__num100-bottom-right radius__num100-top-right pr-5 direction__item-text">
                        <div class="direction__item-text-head ttu mb-2 pl-2">Топ-менеджменту компаний:</div>
                        <ul class="font-light direction__list pl-5 line-height_quorter">
                            <li>Расширение рынков закупок/сбыта на федеральный уровень</li>
                            <li>Закупка / продажа по гарантированно рыночным ценам</li>
                            <li>Дополнительные легальные методы воздействия на контрагентов</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-11 position-relative mb-5 offset-md-1 direction__item">
                <div class="row">
                    <div class="col-md-2 tac color_bg-main2-pale radius__circle-top-left radius__circle-bottom-left  py-2 position-relative direction__item-img">
                        <!--TODO: подгонять придется-->
                        <img src="/img/photo/photo_3.jpg" class="rounded-circle img-responsive testimonials__item-img mt-md-5 mt-xl-0" alt="">
                    </div>
                    <div class="col-md-10  color_bg-main2-pale  pt-5 pt-md-3 pb-1 radius__num100-bottom-right radius__num100-top-right pr-5 direction__item-text">
                        <div class="direction__item-text-head ttu mb-2 pl-2">Специалистам по закупкам/продажам: </div>
                        <ul class="font-light direction__list pl-5 line-height_quorter">
                            <li>Автоматический подбор профильных контрагентов</li>
                            <li>Гибкие настройки при организации торгов</li>
                            <li>Существенное снижение трудоемкости основных процессов</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>