<div class="advantages_block py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adv_folder.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac">крупнейшая в России база производителей, переработчиков и закупщиков агропродукции</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adv_loop.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac">детальная идентификация товаров позволяет мгновенно подбирать профильных контрагентов и профильные торги</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adv_hammer.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac">более 4000 торгов в месяц, более 400 млн. купленного и проданного товара в день</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-4 col-/div-3 col-sm-12">
						<div class="img_block underline half_line ta-center pb-2"><img src="img/icons/adv_coin.png" alt=""></div>
					</div>
					<div class="col-8 col-/div-9 col-sm-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac">отсутствие скрытых платежей, комиссия площадки "только от результата"</div>
					</div>
				</div>
			</div>









			
		</div>
	</div>
</div>