<div class="advantages py-5">
	<div class="container">
		<div class="row advantages__slider">
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="img_block underline half_line tac pb-2"><img src="img/icons/adv_folder.png" class="d-inline-block" alt=""></div>
					</div>
					<div class="col-12">
						<div class="description pt-sm-4 pb-sm-3 mt-2 underline half_line font-light tac fz18">крупнейшая в России база производителей, переработчиков и закупщиков агропродукции</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="img_block underline half_line tac pb-2"><img src="img/icons/adv_loop.png"  class="d-inline-block" alt=""></div>
					</div>
					<div class="col-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac mt-2  fz18">детальная идентификация товаров позволяет мгновенно подбирать профильных контрагентов и профильные торги</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="img_block underline half_line tac pb-2"><img src="img/icons/adv_hammer.png" class="d-inline-block" alt=""></div>
					</div>
					<div class="col-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac  mt-2  fz18">более 4000 торгов в месяц, более 400 млн. купленного и проданного товара в день</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 item pb-4 pt-sm-0">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="img_block underline half_line tac pb-2"><img src="img/icons/adv_coin.png" class="d-inline-block" alt=""></div>
					</div>
					<div class="col-12">
						<div class="description pt-sm-4 pb-sm-3 underline half_line font-light tac mt-2  fz18">отсутствие скрытых платежей, комиссия площадки "только от результата"</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>