<div class="modal">
    <div class="container">
        <div class="modal__form col-10 offset-1 col-md-8 offset-md-2 py-4 main1_color_light_box_shadow">
            <div class="row">
                <div class="font_form-head color_main1 font-light ttu tac col-12">Спасибо за регистрацию!</div>
                <div class="col-10 offset-1 col-md-6 offset-md-3">
                    <div class="modal__form-text my-4 font-light">
                        <div class="tac">
                            Вы получите письмо на указанную почту с более подробной информацией
                        </div>
                        <div class="tac">
                            Уже сейчас Вы можете зайти на сайт с интересующей Вас тематикой
                        </div>
                    </div>
                </div>
                <div class="modal__form-dropdown my-3 tac col-12">
                    <ul class="d-inline-block py-1 px-2">
                        <li><a href="/" class="color_main2 tdu">Посмотреть торги на milkprice</a></li>
                        <li><a href="/" class="color_main2 tdu">Посмотреть торги на fishprice</a></li>
                        <li><a href="/" class="color_main2 tdu">и так далее</a></li>
                    </ul>
                </div>
                <div class="col-12 mt-5 mb-3 font-light font_small-10 tac">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci eligendi minus obcaecati, omnis pariatur suscipit. Deleniti distinctio enim, est eveniet harum iure neque, possimus quasi ratione rem repellendus tempora.
                </div>
            </div>




        </div>
    </div>

</div>