<div class="profit py-3">
    <div class="container">
        <div class="h1 color_white tac underline underline-bgcolor-white col-12 underline-big font-bold mb-3">С Prod.center Вы всегда в плюсе</div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="profit__item main">
                    <div class="profit__item-num color_white font-bold big_text_shadow">2700+</div>
                    <div class="profit__item-intro color_bg-white p-5 font-light ttu">
                        компаний авторизованы
                        и допущены к торгам
                        на площадках Prod.center
                    </div>
                </div>
                <div class="profit__item main pr-3 d-none d-md-block mt-5">
                    <!--TODO: добавить кляксу-->
                    <div class="color_white profit__item-intro font-medium">
                        Работаем с 2016 года,
                        при поддержке
                        Отраслевых союзов,
                        Россельхознадзора
                        и АЦ Минсельхоза РФ
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit__item">
                    <div class="profit__item-num color_white font-bold big_text_shadow">4000+</div>
                    <div class="row profit__item-intro color_bg-white py-3 align-items-center">
                        <div class="col-3 tac">
                            <img src="/img/icons/adv_hammer.png" class="img-responsive d-inline-block" alt="">
                        </div>
                        <div class="col-9 font-light profit__item-intro">онлайн торговых процедур проводятся на площадке ежемесячно</div>
                    </div>
                </div>
                <div class="profit__item">
                    <div class="profit__item-num color_white font-bold big_text_shadow  line-height__equal">400+</div>
                    <div class="row profit__item-intro color_bg-white py-3 align-items-center">
                        <div class="col-3 tac">
                            <img src="/img/icons/icon_notepad.png" class="img-responsive d-inline-block" alt="">
                        </div>
                        <div class="col-9 font-light">млн.руб. в день - средняя сумма проданного или купленного товара (это около 1.5% от всего объема потребляемой агропродукции в России)</div>
                    </div>
                </div>
                <div class="profit__item">
                    <div class="profit__item-num color_white font-bold big_text_shadow  line-height__equal">2500+</div>
                    <div class="row profit__item-intro color_bg-white py-3 align-items-center">
                        <div class="col-3 tac">
                            <img src="/img/icons/icon_lock.png" class="img-responsive d-inline-block" alt="">
                        </div>
                        <div class="col-9 font-light">компаний не прошли авторизацию, либо были заблокированы на площадках за неисполнение взятых на себя обязательств</div>
                    </div>
                </div>
                <div class="profit__item main pr-3 d-none d-md-none">
                    <div class="color_white profit__item-intro font-medium">
                        Работаем с 2016 года,
                        при поддержке
                        Отраслевых союзов,
                        Россельхознадзора
                        и АЦ Минсельхоза РФ
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
