<div class="registration py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-md-2 tac col-xl-1">
                <div class="rounded-circle px-4 d-inline-block color_bg-main1 tac">
                    <div class="font_form-num d-inline-block color_white font-semibold">2</div>
                </div>

            </div>
            <div class="col-12 col-md-10 col-xl-11 font_form-head color_main1 font-light ttu registration__form-head mt-2 mt-md-0">
                Заполните регистрационную форму
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-md-none">
                <div class="registration__step color_main1 font-bold ttu mb-4">
                    шаг 2/2
                </div>
                <div class="registration__text">
                    Введите свои личные данные, для создания персонального аккаунта на Prod.Center. Используя логин и пароль, вы сможете управлять аккаунтом с любого устройства.
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="registration__step color_main1 font-bold ttu mb-4 col-12 d-none d-md-flex">
                        шаг 2/2
                    </div>
                    <div class="registration__text col-12 d-none d-md-flex">
                        Введите данные о кампании и загрузите скан или фото свидетества ИНН. Эти данные нужны для проверки и допуска Вашей компании к торгам.
                    </div>


                </div>


            </div>
            <div class="col-12 col-md-7">
                <form action="" class="registration__form" method="post">
                    <div class="">
                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="row">
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_country[]" class="custom-control-input" id="company_rf">
                                            <label class="custom-control-label" for="company_rf">Российская компания</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_country[]" class="custom-control-input" id="company_foreign">
                                            <label class="custom-control-label" for="company_foreign">Foreign company</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel_company" class="d-none d-md-block col-md-4 col-form-label">Название компании</label>
                            <div class="col-12 col-md-8">
                                <input type="text" class="form-control" name="company" id="colFormLabel_company" placeholder="Название компании">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel_inn" class="d-none d-md-block col-md-4 col-form-label">ИНН</label>
                            <div class="col-12 col-md-8">
                                <input type="text" class="form-control" id="colFormLabel_inn" name="inn" placeholder="ИНН">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel_site" class="d-none d-md-block col-md-4 col-form-label">Сайт</label>
                            <div class="col-12 col-md-8">
                                <input type="text" class="form-control" id="colFormLabel_site" name="site" placeholder="Сайт">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-form-label">Тип компании</label>
                            <div class="col-md-8 offset-md-4">
                                <div class="row">
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_type">
                                            <label class="custom-control-label" for="company_type">Производитель</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_type">
                                            <label class="custom-control-label" for="company_foreign">Переработчик</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_type">
                                            <label class="custom-control-label" for="company_type">Импортер</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_foreign">
                                            <label class="custom-control-label" for="company_foreign">Экспортер</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_type">
                                            <label class="custom-control-label" for="company_type">Бойня</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_foreign">
                                            <label class="custom-control-label" for="company_foreign">Трейдер</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_type">
                                            <label class="custom-control-label" for="company_type">Ритейлер</label>
                                        </div>
                                    </div>
                                    <div class="col-6 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_type[]" class="custom-control-input" id="company_foreign">
                                            <label class="custom-control-label" for="company_foreign">Хранитель</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel_region" class="d-none d-md-block col-md-4 col-form-label">Регион</label>
                            <div class="col-12 col-md-8">
                                <input type="text" class="form-control" id="colFormLabel_region" name="region" placeholder="Регион">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="row">
                                    <div class="col-12 registration__form-checkbox">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="company_country[]" class="custom-control-input" id="company_rf">
                                            <label class="custom-control-label" for="company_rf">
                                                Принимаю условия
                                                <a href="" class="tdu">Договора присоединения</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-md-8 offset-md-4">
                                <button class="button button-main1 button-large" type="submit">Зарегистрироваться</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>