<div class="review">
    <div class="container">
        <div class="h1 color_main2 tac underline underline-bgcolor-main1 col-12 underline-big font-medium">Чем торгуют
            на Prod.center
            в данный момент
        </div>
        <div class="h3 tac">
            Prod.Center — это единая онлайн платформа
            с разделением сайтов по товарным категориям
        </div>
        <div class="row my-5 ">
            <div class="col-12 col-md review__item item-fish tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_fish.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        fish<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-milk tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_milk1.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        milk<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-cow tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_cow.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        krs<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-fowl tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_fowl.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        fowl<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-pig tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_pig.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        pig<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-grain tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_grain1.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        grain<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md  review__item item-veg tac">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_veg.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        veg<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="tac col-12">
            <a href="/" class="button button-main2">Зарегистрироваться
                и начать торги</a>
        </div>

    </div>
</div>
