<div class="container">
    <div class="h1 color_main2 tac underline underline-bgcolor-main1 col-12 underline-big font-medium">Чем торгуют на Prod.center
        в данный момент</div>
        <div class="h3 tac">
            Prod.Center — это единая онлайн платформа
            с разделением сайтов по товарным категориям
        </div>
    <div class="div">
        Иконки и таблицы =========================
    </div>
    <div class="tac col-12">
        <a href="/" class="button button-main2">Зарегистрироваться
            и начать торги</a>
    </div>

</div>
