<div class="review">
    <div class="container">
        <div class="h1 color_main2 tac underline underline-bgcolor-main1 col-12 underline-big font-medium">Чем торгуют
            на Prod.center
            в данный момент
        </div>
        <div class="h3 tac">
            Prod.Center — это единая онлайн платформа
            с разделением сайтов по товарным категориям
        </div>
        <div class="row mt-5 mb-2 review__menu">
            <div class="col-6 col-md-3 col-xl review__item item-fish tac" data-item="fish">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_fish.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        fish<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-milk tac" data-item="milk">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_milk1.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        milk<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-cow tac" data-item="cow">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_cow.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        krs<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-fowl tac" data-item="fowl">
                <a href="" class="review__item-inner d-inline-block tac py-2 active">
                    <img src="/img/icons/icon_fowl.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        fowl<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-pig tac" data-item="pig">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_pig.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        pig<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-grain tac" data-item="grain">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_grain1.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        grain<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-xl  review__item item-veg tac" data-item="veg">
                <a href="" class="review__item-inner d-inline-block tac py-2">
                    <img src="/img/icons/icon_veg.png" class="img-responsive" alt="">
                    <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
                        veg<span class="font-bold">price.ru</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 d-md-none my-4 font-semibold fz16 tac">
            Таблицу торгов вы можете
            посмотреть на десктопной
            версии сайта.
        </div>
        <div class="row d-none d-md-flex review__bg">
            <div class="col-md-12 review__bg-item ttu font-head_27 color_white position-relative" data-bg="fowl">
                <div class="review__bg-head ttu font-head_27 color_white">
                    <span>Рыба и морепродукты</span>
                    <span>Молоко и молочные продукты</span>
                    <span>Крупный рогатый скот и баранина</span>
                    <span class="active">Птица</span>
                    <span>Свинина</span>
                    <span>Зерновые</span>
                    <span>Овощи, Фрукты, Орехи</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-none d-md-flex my-5">
            Подтягиваются торги
        </div>
        <div class="tac col-12 my-5">
            <a href="/#registration" class="button-large scroll_link button button-main2">Зарегистрироваться<br>
                и начать торги</a>
        </div>

    </div>
</div>
