<div class="profit">
    <div class="container">
        <div class="row profit_">
            <div class="col-md-11 color_bg-main1-pale">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="font-light">Периодически пользуюсь площадкой для поиска новых поставщиков, радуют систематические расширения и нововведения, ориентированные на пользователя. Сайт активно развивается, зарегистрирован более полугода и думаю, что у этой площадки большой потенциал, в том числе и экспортный (наиболее интересный для моей компании). Рынок стал намного более прозрачным.</div>
                        <div class="font-bold">Кривоносов А.В. Коммерческий директор
                            ООО "Маслосыркомбинат "Тюкалинский"</div>

                    </div>
                </div>
            </div>
            <div class="col-md-11 offset-md-1 color_bg-main2-pale">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="font-light">Периодически пользуюсь площадкой для поиска новых поставщиков, радуют систематические расширения и нововведения, ориентированные на пользователя. Сайт активно развивается, зарегистрирован более полугода и думаю, что у этой площадки большой потенциал, в том числе и экспортный (наиболее интересный для моей компании). Рынок стал намного более прозрачным.</div>
                        <div class="font-bold">Кривоносов А.В. Коммерческий директор
                            ООО "Маслосыркомбинат "Тюкалинский"</div>

                    </div>
                </div>
            </div>
            <div class="col-md-11">

            </div>


            <div class="testimonials__remark"> Проекту <span class="color_main2">2.5</span> года, за это время <span
                    class="color_bg-main1">1541</span>
                компания закупили или продали свою агропродукцию
                на площадках Prod.Center на <span class="color_bg-main1">98</span> млрд.р.
            </div>


        </div>
    </div>
</div>