<div class="testimonials">
    <div class="container">
        <div class="row profit_">
            <div class="col-12 h1 color_content tac underline underline-bgcolor-main2 col-12 underline-big font-medium"><span
                    class="font-light">Кто уже оценил выгоду торговли
                            на площадке</span> <span class="font-medium">Prod.center</span></div>
            <div class="col-md-11 position-relative testimonials__item offset-md-1">
                <i class="fas fa-quote-left color_main2-pale flip_horizontal position-absolute"></i>
                <div class="row">
                    <div class="col-md-2 tac color_bg-main1-pale radius__circle-top-left radius__circle-bottom-left  pt-3 pb-1 position-relative">
                        <i class="fas fa-quote-right color_main2-pale flip_horizontal position-absolute"></i>
                        <!--TODO: подгонять придется-->
                        <img src="/img/logo/logo_rpk.jpg" class="img-responsive testimonials__item-img mt-5" alt="">
                    </div>
                    <div class="col-md-10  color_bg-main1-pale  pt-3 pb-1 radius__num100-bottom-right radius__num100-top-right pr-5">
                        <div class="font-light font-italic color_gray-pale mb-2"><p class="line-height__quorter">«Быстрая и доступная платформа для легкой торговли. Комиссия вполне доступная, поиск покупателей простой. Очень хотелось бы логического продолжения в виде приложения на телефон или планшет, и учитывая динамику развития и потнециал платформы, надеюсь, скоро это станет возможным</p></div>
                        <div class="font-bold">Аничкин Алексей Андреевич, менеджер<br>
                            ЗАО ТД " Резервная Продовольственная Компания»
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-11 position-relative testimonials__item">
                <i class="fas fa-quote-right toleft color_main1-pale flip_horizontal position-absolute"></i>
                <div class="row">
                    <div class="col-md-10  color_bg-main2-pale  pt-3 pb-1 radius__num100-bottom-left radius__num100-top-left">
                        <div class="font-light font-italic color_gray-pale mb-2 pl-100"><p class="line-height__quorter text-right">Периодически пользуюсь площадкой
                            для поиска новых поставщиков, радуют систематические расширения и нововведения,
                            ориентированные на пользователя. Сайт активно развивается, зарегистрирован более полугода и
                            думаю, что у этой площадки большой потенциал, в том числе и экспортный (наиболее интересный
                            для моей компании). Рынок стал намного более прозрачным.</p></div>
                        <div class="font-bold text-right">Кривоносов А.В. Коммерческий директор<br>
                            ООО "Маслосыркомбинат "Тюкалинский"</div>

                    </div>
                    <div class="col-md-2 tac color_bg-main2-pale radius__circle-top-right radius__circle-bottom-right  pt-3 pb-1 position-relative">
                        <i class="fas fa-quote-left color_main1-pale flip_horizontal position-absolute"></i>
                        <!--TODO: подгонять придется-->
                        <img src="/img/logo/logo_tukalin1.jpg" class="img-responsive rounded-circle testimonials__item-img mt-2" alt="">
                    </div>

                </div>
            </div>
            <div class="col-md-11 position-relative testimonials__item offset-md-1">
                <i class="fas fa-quote-left color_main2-pale flip_horizontal position-absolute"></i>
                <div class="row">
                    <div class="col-md-2 tac color_bg-main1-pale radius__circle-top-left radius__circle-bottom-left  pt-3 pb-1 position-relative">
                        <i class="fas fa-quote-right color_main2-pale flip_horizontal position-absolute"></i>
                        <img src="/img/logo/logo_milk.jpg" class="img-responsive rounded-circle testimonials__item-img mt-2" alt="">
                    </div>
                    <div class="col-md-10  color_bg-main1-pale  pt-3 pb-1 radius__num100-bottom-right radius__num100-top-right pr-5">
                        <div class="font-light font-italic color_gray-pale mb-2"><p class="line-height__quorter">Пользуюсь площадкой уже достаточно давно, очень удобный поиск покупателей и адекватная комиссия, вежливая и подкованная служба поддержки и адекватная комиссия. Легко находятся новые покупатели, простой и удобный для пользователя интерфейс. Более удобной платформы для онлайн-трейдинга не знаю</p></div>
                        <div class="font-bold">Макарова В.А. Начальник коммерческой службы<br>
                            АО «Молоко»</div>

                    </div>
                </div>
            </div>
            <div class="testimonials__remark h3"> Проекту <span class="color_main2 font-bold">2.5</span> года, за это время <span
                    class="color_bg-main1 px-1 color_white font-bold">1541</span>
                компания закупили или продали свою агропродукцию
                на площадках Prod.Center на <span class="color_bg-main1 px-1 color_white font-bold">98</span> млрд.р.
            </div>
        </div>
    </div>
</div>