<div class="tostart">
    <div class="container">
        <div class="h1 color_main2 tac underline underline-bgcolor-main1 col-12 underline-big font-light">
            Как начать работу на площадке
            <span class="font-bold">Prod.center</span>
        </div>
    </div>
    <div class="tostart__wrap">
        <div class="container">
            <div class="row tostart__line d-none d-md-flex">
                <div class="col-md-8 offset-md-2"></div>
            </div>
            <div class="row tostart__numblock">
                <div class="col-md-4 tostart__item pb-5 pb-md-0">
                    <div class="tostart__item-num tac mb-md-5">
                        <div class="rounder-circle d-inline-block tostart__item-num-value  font-bold">
                            1
                        </div>

                    </div>
                    <div class="tostart__item-head fz20 ttu color_main1 tac">
                        Регистрация на сайте
                    </div>
                    <div class="tostart__item-text mt-2 my-4 my-md-0 mt-md-4 tac">
                        Зарегистрироваться через
                        любой сайт, работающий
                        на платформе PROD.CENTER
                    </div>
                </div>
                <div class="col-md-4 tostart__item pb-5 pb-md-0">
                    <div class="tostart__item-num tac mb-md-5">
                        <div class="rounder-circle d-inline-block tostart__item-num-value font-bold">
                            2
                        </div>

                    </div>
                    <div class="tostart__item-head fz20 ttu  color_main1 tac">
                        допуск и Оплата
                    </div>
                    <div class="tostart__item-text mt-2 my-4 my-md-0 mt-md-4 tac">
                        Зарегистрироваться через
                        любой сайт, работающий
                        на платформе PROD.CENTER
                    </div>
                </div>
                <div class="col-md-4 tostart__item pb-5 pb-md-0">
                    <div class="tostart__item-num tac mb-md-5">
                        <div class="rounder-circle d-inline-block tostart__item-num-value  font-bold">
                            3
                        </div>

                    </div>
                    <div class="tostart__item-head fz20 ttu  color_main1 tac">
                        Начало торгов
                    </div>
                    <div class="tostart__item-text mt-2 my-4 my-md-0 mt-md-4 tac">
                        Зарегистрироваться через
                        любой сайт, работающий
                        на платформе PROD.CENTER
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
