<div class="world">
    <div class="container">
        <div class="h1 tac underline underline-bgcolor-main1 underline-big">
            <span class="font-bold"> Совсем скоро AGROWORLD.TRADE</span>
            <span class="font-light">Выход на международные рынки</span>
        </div>
        <div class="tac font-head_20 font-bold">
            с возможностью  закупок и продаж агропродукции в Иране и Китае напрямую
        </div>
        <div class="row world__footer">
            <div class="col-md-6 font-medium world__footer-pdf my-3 my-md-0 py-3 py-md-0">
                Подробнее о проекте:
                <a href="/pdf/2018-08-16_vedomosti.pdf" class="tdu">деловое издание "Ведомости" от 16.08.2018, первая полоса</a>
            </div>
            <div class="col-md-6 color_main1 world__footer-link">
                Авторизуясь на Prod.Center Вы
                получаете доступ к <a href="https://ru-ir.agroworld.trade/" rel="nofollow" class="color_main1">AGROWORLD.TRADE</a>
            </div>
        </div>
    </div>
</div>
<!--TODO: не забыть загрузить df-->
