<div class="world">
    <div class="container">
        <div class="h1 tac underline underline-bgcolor-main1 underline-big">
            <span class="font-bold"> Совсем скоро AGROWORLD.TRADE</span>
            <span class="font-light">Выход на международные рынки</span>
        </div>
        <div class="tac font-head_20 font-bold">
            с возможностью  закупок и продаж агропродукции в Иране и Китае напрямую
        </div>
        <div class="row world__footer">
            <div class="col-md-6 font-medium world__footer-pdf my-3 my-md-0 py-3 py-md-0">
                Подробнее о проекте:<br>
                <a href="/pdf/2018-08-16_vedomosti.pdf" class="tdu">деловое издание "Ведомости" от 16.08.2018, первая полоса</a>
            </div>
            <div class="col-md-6 color_main1 world__footer-link">
                Авторизуясь на Prod.Center Вы
                получаете доступ к <a href="https://ru-ir.agroworld.trade/" rel="nofollow" class="color_main1">AGROWORLD.TRADE</a>
            </div>
        </div>
        <div class="row d-md-none world__mobile">
            <div class="col-12 color_main1 world__mobile-head font-bold my-4 tac">2018</div>
            <div class="col-6 mb-1">
                <p class="tac ttu color_main1">Китай</p>
                <p class="tac ttu color_main1">
                    10000+<br>
                    компаний
                </p>
            </div>
            <div class="col-6 mb-1">
                <p class="tac ttu color_main1">Иран</p>
                <p class="tac ttu color_main1">
                    400+<br>
                    компаний
                </p>
            </div>

            <div class="col-12 color_gray-text world__mobile-head font-bold my-4 tac">2019...</div>
            <div class="col-4 mb-2 color_gray-text tac">Япония</div>
            <div class="col-4 mb-2 color_gray-text tac">Тунис</div>
            <div class="col-4 mb-2 color_gray-text tac">Корея</div>
            <div class="col-4 mb-2 color_gray-text tac">Марокко</div>
            <div class="col-4 mb-2 color_gray-text tac">Иордания</div>
            <div class="col-4 mb-2 color_gray-text tac">Турция</div>
            <div class="col-4 mb-2 color_gray-text tac">Индия</div>
            <div class="col-4 mb-2 color_gray-text tac">Вьетнам</div>
            <div class="col-4 mb-2 color_gray-text tac">Египет</div>
        </div>
    </div>
</div>
