<div class="header__banner">
    <div class="container">
        <div class="tac">

        </div>
        <div class="header__banner-description d-none d-md-block">
            Всего в России ~15 000 агрокомпаний,<br>
            которые работают в крупном опте.<br>
            <span class="color_bg-main1-pale">2700</span>  из них работают через Prod.Center
        </div>
        <div class="header__banner-slogan">
            <p>Закупай и продавай<br>
                агропродукцию</p>
            <p>
                крупным и средним оптом
                у проверенных контрагентов
            </p>
        </div>
    </div>
</div>