<div 
data-vide-bg="mp4: video/bg_video, poster: img/bg_video"
data-vide-options="posterType: jpg, loop: true, muted: true, autoplay: true, position: 0% 0%"
class="header__banner"
>
    <div class="container">
        <div class="row tac">
            <div class="header__banner-description d-none d-md-block underline underline-bgcolor-main1 col-12 underline-big color_white font-medium my-5 d-none d-md-block">
                Всего в России ~15 000 агрокомпаний,<br>
                которые работают в крупном опте.<br>
                <span class="color_bg-main1-pale px-2">2700</span>  из них работают через Prod.Center
            </div>
            <div class="header__banner-slogan col-12 color_white">
                <p>Закупай и продавай<br>
                    агропродукцию</p>
                <p>
                    крупным и средним оптом
                    у проверенных контрагентов
                </p>

            </div>
            <div class="tac col-12">
                <a href="/" class="button button-main2">Зарегистрироваться
                    и начать торги</a>
            </div>
        </div>
    </div>
</div>