.direction
{
    &__list
    {

    }
    ul
    {
        li
        {
            position: relative;
            
            &:before {
                position: absolute;
                content: '';
                width: 30px;
                height: 7px;
                background-color: $main1_color;
                top: 7px;
                left: -37px;
                display: block;
            }
        }
    }

    &__item
    {
        &-img
        {
            @include media-breakpoint-down(sm)
            {
                background-color: $white;
            }
            img
            {
                width: 50%;
                display: inline-block;
                position: relative;
                bottom: -50px;
                z-index: 2;
                @include media-breakpoint-up(md)
                {
                    width: 100%;
                    bottom: 0;
                }
            }

        }
        &-text
        {
            @include media-breakpoint-down(sm)
            {
                border-radius:0;
            }
            &-head
            {
                font-size: 18px;
                text-align: center;
                @include media-breakpoint-up(md)
                {
                    font-size: 27px;
                    text-align: left;
                }
                
            }
        }
    }


}
