.footer
{
    background: #fff url(#{$images}footer_bg.jpg) 0 0 no-repeat;

    &__callback
    {
      font-size: 20px;
      @include media-breakpoint-up(md)
      {
        font-size: 40px;
      }

      background-color: rgba(255,255,255,0.5);
    }

}