.footer
{
    background: #fff url(#{$images}footer_bg.jpg) 0 100% no-repeat;

    &__callback
    {
      font-size: 20px;
      @include media-breakpoint-up(md)
      {
        font-size: 40px;
      }
      span
      {
          display: block;
          @include media-breakpoint-up(md)
          {
              display: inline-block;
          }
      }

      background-color: rgba(255,255,255,0.8);
    }

    &__bottom
    {
        &-slogan
        {
            font-weight: 300;
            font-size: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            @include media-breakpoint-up(md)
            {
                padding-top: 35px;
                padding-bottom: 35px;
                font-weight: 700;
                font-size: 18px;
            }

        }
        &-logo
        {
            @include media-breakpoint-down(sm)
            {
                background-color: rgba(205,93,93,0.8);
            }

        }
    }

}