.header
{
    &__top
    {
        background: rgba(179,179,179,0.9);
    }
    &__banner
    {
        &-description
        {
            font-size: 36px;

        }
    }

    &__banner
    {
        &-bottom
        {
            &-logo
            {
                transform: rotate(-15deg);
                right: 0;
                top: -80px;
            }
        }
    }


}