<div class="row align-items-center footer__bottom">
    <div class="col-12 col-md-9">
        <div class="row align-items-md-center">
            <div class="col-md-2 col-3 footer__bottom-logo">
                <!--<a href="https://www.prod.center" class="tac main_logo"><img src="img/logo/logo_white.png" alt=""></a>-->
                <!--<div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">-->
                <!--prod<span class="font-bold">center</span>-->
                <!--</div>-->
                <a href="https://www.prod.center" class="tac main_logo d-none d-md-block"><img src="img/logo_white.png" class="img-responsive" alt=""></a>
                <a href="https://www.prod.center" class="tac main_logo d-md-none mt-3"><img src="img/logo_black.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-md-3 color_white font-text_14 font-light pl-5 d-none d-md-flex">
                При поддержке:<br>
                отраслевых союзов,<br>
                Россельхознадзора РФ,<br>
                АЦ Минсельхоза РФ
            </div>

            <div class="col-9 col-md-7 color_white color_bg-main2-opacity footer__bottom-slogan">
                Крупнейшая онлайн площадка для оптовой
                торговли агропродукцией на российском
                и международных рынках
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row">
            <div class="col-12 d-md-none color_white font-text_14 font-light pl-md-5 tac my-4">
                При поддержке:<br>
                отраслевых союзов,<br>
                Россельхознадзора РФ,<br>
                АЦ Минсельхоза РФ
            </div>

            <div class="col-12 font-light color_white tac mb-2 mb-md-0">
                <a href="htpps://www.pro.center" class="ttu tdu color_white">PROD.CENTER</a> &copy; 2018
            </div>
        </div>
    </div>


</div>