<div class="row align-items-center footer__bottom">
    <div class="col-md-1">
        <a href="/"><img src="img/logo_white.png" alt=""></a>
    </div>
    <div class="col-md-3 color_white font-text_14 font-light">
        При поддержке:
        отраслевых союзов,
        Россельхознадзора РФ,
        АЦ Минсельхоза РФ
    </div>
    <div class="col-md-6 d-none d-md-flex color_white font-bold color_bg-main2-dark py-5">
        Крупнейшая онлайн площадка для оптовой
        торговли агропродукцией на российском
        и международных рынках
    </div>
    <div class="col-md-2 font-light color_white">
        <a href="" class="ttu tdu color_white">PROD.CENTER</a> &copy; 2018
    </div>
</div>