<div class="row align-items-center footer__bottom">
    <div class="col-md-1">
        <a href="/" class="tac main_logo"><img src="img/logo/logo_white.png" alt=""></a>
        <div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">
            prod<span class="font-bold">center</span>
        </div>
    </div>
    <div class="col-md-3 color_white font-text_14 font-light pl-5">
        При поддержке:<br>
        отраслевых союзов,<br>
        Россельхознадзора РФ,<br>
        АЦ Минсельхоза РФ
    </div>
    <div class="col-md-5 d-none d-md-flex color_white font-bold color_bg-main2-dark footer__bottom-slogan">
        Крупнейшая онлайн площадка для оптовой
        торговли агропродукцией на российском
        и международных рынках
    </div>
    <div class="col-md-3 font-light color_white">
        <a href="" class="ttu tdu color_white">PROD.CENTER</a> &copy; 2018
    </div>
</div>