// headers
%h1{
  font-size: 24px;
  color: $content_color;
  position: relative;
  line-height: 1.5em;
  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}
%h2 {
  font-size: 18px;
  color: $content_color;
  position: relative;
  line-height: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}
%h3{
  font-size: 16px;
  color: $content_color;
  position: relative;
  line-height: 1.5em;
  @include media-breakpoint-up(lg) {
    font-size: 32px;
  }
}
%add_head {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}
%text-14 {
  font-size: 14px;
}
// texts
%text_block {
  font-size: 14px;
  font-family: $open_sans;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}


//Triangle
@mixin triangle_down($z-index:1,$color:$main1_color,$btm:-15,$brd_transparent:10,$brd_solid:15) {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: #{$btm}px;
  margin: 0 auto;
  border: #{$brd_transparent}px solid transparent;
  border-top: #{$brd_solid}px solid $color;
  display: block;
  width: 0;
  height: 0;
  z-index: $z-index;
}
@mixin triangle_up($z-index:1,$color:$main1_color,$btm:-15,$brd_transparent:10,$brd_solid:15) {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: #{$btm}px;
  margin: 0 auto;
  border: #{$brd_transparent}px solid transparent;
  border-bottom: #{$brd_solid}px solid $color;
  display: block;
  width: 0;
  height: 0;
  z-index: $z-index;
}

%hover-lia {
  background: $pale_blue_color;
}
%color {
  color: $main1_color;
}
%gray_bg {
  background: $table_gray_color;
}
%gray_bg-darker {
  background: $gray_color;
}