// BUTTONS
%button_border {
    border-radius: 8px;
}
%button_padding {
    padding: 10px 25px;
}
%button {
    @extend %button_padding;
    @extend %button_border;
    text-align: center;
    color: $white;
    font-size: 10px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
  // TODO: потом посмотреть по отступам
    &:hover
    {
        cursor: pointer;
    }
    @include media-breakpoint-up(md)
    {
        font-size: 14px;
    }

    &:after {
        position: absolute;
        content: '';
        display: block;
        background-image: url(#{$images}icons/arrow_toright.png);
        z-index: 2;
        color: #fff;
        width: 19px;
        height: 27px;
        right: 11px;
        top: 0;
        bottom: 0;
        margin: auto;

    }
}
%big_text_shadow
{
    text-shadow: 7px 3px 40px rgba(0, 0, 0, 1);
}

.label_decor
{
    font-size: 9px;
    border-radius:10px;
    top: -2px;
    @include media-breakpoint-up(md)
    {
        font-size: 11px;
    }
}
.main_logo
{
    display: block;
    width: 100%;
    @include media-breakpoint-up(md)
    {
        width: 92px;
    }

    img
    {
        display: inline-block;
    }
}








