// BUTTONS
%button_border {
    border-radius: 8px;
}
%button_padding {
    padding: 10px 25px;
}
%button {
    @extend %button_padding;
    @extend %button_border;
    text-align: center;
    color: $white;
    font-size: 10px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    text-transform: uppercase;
    padding: 15px 40px;
  // TODO: потом посмотреть по отступам
    &:hover
    {
        cursor: pointer;
    }
    @include media-breakpoint-up(md)
    {
        font-size: 14px;
    }
}










