.opensans {
    font-family: $open_sans;
}

// headers
.h1 {
    @extend %h1;
}

.h2 {
    @extend %h2;
}
.h3 {
    @extend %h3;
}
.add_head {
    @extend %add_head;
}

a {
    &:hover
    {
        outline: none;
    }
    &:focus
    {
        outline: none;
    }
    &:active
    {
        outline: none;
    }
}

// texts
.text_block {
    @extend %text_block;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-image: -webkit-linear-gradient(#F5F5F5, #8A8A8A);
}

table
{
    border-collapse: collapse;
    font-family: $open_sans;
    width: 100%;

    thead {
        tr {
            @extend %hover-lia;
        }
        th, td {
            font-size: 14px;
            color: $main1_color;
            font-weight: 700;
        }
    }
    tr {

    }
    td {
        padding: 10px;
        font-size: 14px;
    }
}
.table
{
    &_wrapper
    {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    &_2col
    {
        tr
        {
            td
            {
                &:last-child
                {
                    text-align: right;
                }

            }

        }
    }
    &_zebra
    {
        tr:nth-child(odd) {
            background-color: $table_gray_color;
        }
    }
    &_catalog
    {
        tr
        {
            background: $table_gray_color;
            border-bottom:1px solid #fff;
        }
    }
}



ul {
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
}

.content {
    ul
    {
        padding: 15px;
    }
    li {
        position: relative;
        &:before {
            content: '-';
            font-weight: 900;
            color: $main1_color;
            position: absolute;
            left: -10px;
            top: -2px;
        }
    }
}

.ta-right-2-center {
    text-align: center;
    &:after {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    @include media-breakpoint-up(md)
    {
        text-align: right;
        &:after {
            right: 0;
            left: auto;
        }
    }
}
.ta-right-2-left {
    @include media-breakpoint-up(md)
    {
        text-align: right;
        &:after {
            right: 0;
            left: auto;
        }
    }
}
.ta-center {
    text-align: center;
    &:after {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.underline {
    position: relative;

    &-big
    {
        padding-bottom: 25px;
        margin-bottom: 25px;
        @include media-breakpoint-up(md)
        {
            padding-bottom: 50px;
            margin-bottom: 40px;
        }
    }

    &-small
    {
        padding-bottom: 15px;
        margin-bottom: 15px;
        @include media-breakpoint-up(md)
        {
            padding-bottom: 40px;
            margin-bottom: 30px;
        }
    }

    &:after
    {
        content:'';
        position: absolute;
        display: block;
        right: 0;
        left: 0;
        bottom: 0;
        width: 15%;
        height:5px;
        margin: 0 auto;

        @include media-breakpoint-up(md)
        {
            height: 9px;
        }
    }


    &-bgcolor
    {
        &-white
        {
            &:after
            {
                background-color: $white;
            }

        }
        &-main1
        {
            &:after
            {
                background-color: $main1_color;
            }

        }
        &-main2
        {
            &:after
            {
                background-color: $main2_color;
            }
        }
    }
}


ul {
    margin-bottom: 0;
}
.menu
{
    a
    {
        color: #000;
        display: block;
        padding: 5px 0;
        &:hover
        {
            text-decoration: none;
        }
    }
}


i {

}

.button
{
  @extend %button;

  &-large
  {

      padding-left:80px;
      padding-right: 80px;
      border-radius: 25px;

  }


  &-main1
  {
    background-color: $main1_color;

    &:hover
    {
      background-color: $main1_dark_color;
      color: $white;
    }
  }

  &-main2
  {
    background-color: $main2_color;

    &:hover
    {
      background-color: $main2_light_color;
      color: $white;
    }
  }
}


.posa {
    position: absolute;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

}
.tac {
    text-align: center;
}
.fwb {
    font-weight: 700;
}
.spy {
    display: none;
}
.tdu {
    text-decoration: underline;
}
.ttu {
    text-transform: uppercase;
}
.another_blue {
    color: $another_blue;
    i
    {
        color: $another_blue;
    }
}

.hover-tdn {
    &:hover {
        text-decoration: none;
    }
}
.pale_bg {
    background-color: $pale_blue_color;
}
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.fz14 {
    font-size: 14px;
}
.fz16 {
    font-size: 16px;
}
.fz18 {
    font-size: 18px;
}
.fz30 {
    font-size: 30px;
}
.fw400 {
    font-weight: 400;
}
.custom-control-label::before {
    border:1px solid $main1_color;
    background: #ffffff;
}
.w100p {
    width: 100%;
}
.button-border {
    @extend %button_border;
}
button:hover{
    cursor: pointer;
}
.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}
.marg-b-70 {
    margin-bottom: 70px;
}
.bg-gray {
    @extend %gray_bg;
}
.bg-gray-darker {
    @extend %gray_bg-darker;
}

.veil {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.4);
}
.above_veil
{
    z-index: 2;
    position: relative;
}

/* COLORS */

.color
{
    &_black
    {
        color: #000;
    }
    &_white
    {
        color: #fff;
    }
    &_gray
    {
        &-pale
        {
            color: $gray_pale;
        }
        &-light
        {
            color: $gray-light;
        }
        &-bg
        {
            &-pale
            {
                background-color: $gray_pale;
            }
            &-light
            {
                background-color: $gray-light;
            }
        }
    }
    &_content
    {
        color: $content_color;
    }

    &_main1
    {
        color: $main1_color;
        &-pale
        {
            color: $main1_pale_color;
        }
    }

    &_main2
    {
        color: $main2_color;
        &-pale
        {
            color: $main2_pale_color;
        }
    }

    &_bg
    {
        &-main1
        {
            background-color: $main1_color;
            &-pale
            {
                background-color: $main1_pale_color;
            }
            &-dark
            {
                background-color: $main1_dark_color;
            }

        }

        &-main2
        {
            background-color: $main2_color;
            &-pale
            {
                background-color: $main2_pale_color;
            }
            &-dark
            {
                background-color: $main2_dark_color;
            }
        }
        &-white
        {
            background-color: $white;
        }
    }
    &_fish
    {
        color: $color_fish;
        &-bg
        {
            background-color: $color_fish;
        }
    }
    &_milk
    {
        color: $color_milk;
        &-bg
        {
            background-color: $color_milk;
        }
    }
    &_cow
    {
        color: $color_cow;
        &-bg
        {
            background-color: $color_cow;
        }
    }
    &_pig
    {
        color: $color_pig;
        &-bg
        {
            background-color: $color_pig;
        }
    }
    &_grain
    {
        color: $color_grain;
        &-bg
        {
            background-color: $color_grain;
        }
    }
    &_veg
    {
        color: $color_veg;
        &-bg
        {
            background-color: $color_veg;
        }
    }
    &_fowl
    {
        color: $color_fowl;
        &-bg
        {
            background-color: $color_fowl;
        }
    }
}

.flip_horizontal {
    transform: scale(-1,1);
}

.radius
{
    &__circle
    {
       &-top
       {
           &-left
           {
               border-top-left-radius: 50%;
           }
           &-right
           {
               border-top-right-radius: 50%
           }
       }
        &-bottom
        {
            &-left
            {
                border-bottom-left-radius: 50%;
            }
            &-right
            {
                border-bottom-right-radius: 50%;
            }
        }
    }
    &__num100
    {
        &-top
        {
            &-left
            {
                border-top-left-radius: 100px;
            }
            &-right
            {
                border-top-right-radius: 100px;
            }
        }
        &-bottom
        {
            &-left
            {
                border-bottom-left-radius: 100px;
            }
            &-right
            {
                border-bottom-right-radius: 100px;
            }
        }
    }
}

.width
{
    &__50
    {
        width: 50%;
    }
}

.p
{

    &l
    {
        &-100
        {
            padding-left: 100px;
        }
    }
}

.big_text_shadow {
    @extend %big_text_shadow;

}





