<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__slogan col-md-10 offset-md-1 h1 color_main2 tac line-height__equal">
                Присоединяетесь к Prod.center
                и получите все удобства, выгоду
                и преимущества онлайн торговли
            </div>
            <div class="col-md-10 offset-md-1 footer__callback tac my-md-5 py-3 line-height_quorter">
                <p class="font-light">Остались вопросы?</p>
                <p class="font-light"><span>Позвоните нам:</span>
                    <a href=tel:+74953204260" class="font-bold">+7 (495) 320-42-60</a>
                </p>
            </div>
        </div>
        @@include('./footer/footer_bottom.html')
    </div>
</div>