<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__slogan col-md-10 offset-md-1 h1 color_main2 tac line-height__equal">
                Присоединяетесь к Prod.center
                и получите все удобства, выгоду
                и преимущества онлайн торговли
            </div>
            <div class="col-md-10 offset-md-1 footer__callback tac">
                <p class="font-light">Остались вопросы?</p>
                <p class="font-light">Позвоните нам: <span class="font-bold">+7 (495) 320-42-60</span></p>
            </div>
        </div>
        @@include('./footer/footer_footer.html')
    </div>
</div>