<div class="header"
     data-vide-bg="mp4: video/bg_video, poster: img/bg_video"
     data-vide-options="posterType: jpg, loop: true, muted: true, autoplay: true, position: 0% 0%"
>
    <div class="header__top">
        <div class="container">
            <div class="row align-items-md-center">
                <!--TODO: надо поменять под лого надпись на сверстанную-->
                <!--TODO: кнопки надо отредактировать на предмет закруглости-->
                <div class="col-4 col-md-2 header__top-logo pt-2 pt-md-0">
                    <a href="htpps://www.prod.center" class="tac main_logo">
                      <img src="/img/logo_black.png" class="img-responsive" alt="">
                    </a>
                    <!--<div class="label_decor ttu color_gray-bg-light d-inline-block py-1 px-2">-->
                        <!--prod<span class="font-bold">center</span>-->
                    <!--</div>-->
                </div>
                <div class="col-8 col-md-7 header__top-disclamer bg_salat color_bg-main1 color_white py-2 py-md-4">
                    Крупнейшая онлайн площадка для оптовой торговли
                    агропродукцией на российском и международных рынках
                </div>
                <div class="col-md-3 col-12 header__top-contacts pt-4 pt-md-0">
                    <div class="font-head_27">
                        <a href="tel:+74953204260"><span class="font-light">+7(495)</span><span
                                class="font-bold"> 320-42-60</span></a>
                    </div>
                    <div class="d-none d-md-block fz14 ttu tdu text-right">
                        <a href="/#registration" class="scroll_link">Регистрация</a>
                        <a href="https://prod.center.ru" class="ml-2">Войти</a>
                    </div>
                    <div class="col-12 underline underline-bgcolor-main1 underline-big d-md-none"></div>
                </div>
            </div>
        </div>
    </div>
    @@include('./header/header_banner.html')
</div>