<div class="header">
    <div class="header__top d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2 header__top-logo"><a href="/"><img src="/img/logo.png" class="img-responsive" alt=""></a></div>
                <div class="col-9 col-md-7 header__top-disclamer bg_salat color_bg-main1 color_white">
                    Крупнейшая онлайн площадка для оптовой торговли<br>
                    агропродукцией на российском и международных рынках
                </div>
                <div class="col-md-3 header__top-contacts ">
                    <div class="font-head_27">
                        <span class="font-light">+7(495)</span><span class="font-bold"> 320-42-60</span>
                    </div>
                    <!--TODO: этот блок совместить с нижним баннером. Потом-->
                    <div class="d-none d-md-block fz14 ttu tdu">
                        <span>Регистрация</span>
                        <span class="ml-2">Войти</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @@include('./header/header_banner.html')
</div>